body {
  background-color: #e8c5c5;
  margin-left: 100px;
  margin-right: 300px;
}
header {
  margin-top: 70px;
}
h1 {
  font-size: 30px;
  color: red;
  font-family: fantasy, Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 30px;
  font-family: fantasy;
}
p {
  font-size: 18px;
}
img {
  margin-bottom: 20px;
}
